body {
    padding-top: 2%;
}

#current_location_div {
    padding: 1.5%;
}

#distance_radius_div {
    padding: 1.5%;
}

#generate_location {
    padding: 1.5%;
}

.generate_location_ch_pad {
    padding: 1.5%;
}